$my-primary: #619B8A;
$my-light: #FAFCFE;
$my-dark: #233D4D;

$custom-font-sizes: (
        1: 6rem, //Header 1
        2: 3.75rem, //Header 2
        3: 3rem, //Header 3
        4: 2.125rem, //Header 4
        5: 1.5rem, //Header5
        6: 1rem, //Body
        7: 0.75rem, //Caption
);

$custom-font: "Roboto Variable", -apple-system;

@use "bootstrap/scss/bootstrap" with (
  $font-family-sans-serif: $custom-font,
  $font-family-base: $custom-font,
  $font-sizes: $custom-font-sizes,



  $theme-colors: (
    "primary": $my-primary,
    "light": $my-light,
    "dark": $my-dark,
  )
);

.box-shadow-xs {
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;
}

.lh-20 {
  line-height: 20px !important;
}

.fs-caption {
  font-size: map-get($custom-font-sizes, 7);
}

:root {
  --green-gradient: linear-gradient(90deg, #659E89 0%, #619B8A 32.12%, #A1C181 100%);
  --orange-gradient: linear-gradient(41.75deg, #FE7F2D 22.78%, #FCCA46 87.18%);
}

.bg-gradient-green {
  background: var(--green-gradient);
}

.bg-gradient-orange {
  background: var(--orange-gradient);
}

:root, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.w-10 {
  width: 10% !important;
}

body {
  font-family: $custom-font, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.modal-content {
  border: none;
  border-radius: 2rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}


//Button component
.base-button {
  min-width: 110px;
  height: 36px;
  width: fit-content;
  border-radius: 8px;
  padding: 8px 16px;
  gap: 8px;
  border-width: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.button-primary {
  &:hover {
    background-color: #468579 !important;
    border-color: #468579 !important;
  }

  &:disabled {
    background-color: #D0F5DF !important;
    border-color: #D0F5DF !important;
    opacity: 1 !important;
  }
}

.button-secondary {
  border: solid 1px #619B8A !important;
  color: #619B8A !important;

  &:hover {
    background-color: #F9FAFB !important;
    border-color: #468579 !important;
  }

  &:disabled {
    border-color: #E7FAED !important;
    color: #D0F5DF !important;
    opacity: 1 !important;
  }
}

.button-ghost {
  color: #619B8A !important;
  border: none !important;

  &:hover {
    background-color: #F9FAFB !important;
  }

  &:disabled {
    color: #D0F5DF !important;
    opacity: 1 !important;
  }
}

.link-button {
  border: none;
  padding: 0;
  min-width: 78px;
  width: fit-content;
  height: 20px;
  border-radius: 8px;
  gap: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.button-link {
  &:hover {
    color: #14232C !important;
  }

  &:disabled {
    color: #D3D8DB !important;
    opacity: 1 !important;
  }
}

.button-green-link {
  &:hover {
    color: #468579 !important;
  }

  &:disabled {
    color: #D0F5DF !important;
    opacity: 1 !important;
  }
}

.icon-button {
  min-width: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

//Avatar component
.avatar {
  max-width: 64px;
  max-height: 64px;
  border-radius: 64px;
  background-color: #BDBDBD;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar-img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.avatar-upload {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: #BDBDBD;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: $my-primary;
  }
}

.small-avatar {
  width: 40px;
  height: 40px;
}

//Social buttons
.social-button {
  height: 36px;
  width: fit-content;
  border-radius: 8px;
  padding: 6px 16px;
  gap: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    opacity: 0.9;
  }

  &.facebook-button:hover {
    background-color: #1877F2 !important;
    color: white;
  }

  &.google-button:hover {
    background-color: white !important;
    border: solid 1px #D0D5DD;
  }
}

.facebook-button {
  width: 238px;
  background-color: #1877F2;
  color: white;
}

.google-button {
  width: 217px;
  background-color: white;
  color: #344054;
  border: solid 1px #D0D5DD;
}

//Profile points
.profile-points {
  border: solid 2px $my-primary;
  min-width: 101px;
  width: fit-content;
  height: 40px;
  display: inline-flex;
  align-items: center;
  box-sizing: content-box;
  border-radius: 64px;
  overflow: hidden;
  gap: 8px;
}

.points {
  gap: 10px;
  min-width: 37px;
  height: 19px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  align-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}

//Guess card
.guess-card {
  position: relative;
  max-width: 420px;
  max-height: 236px;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3ms linear;
  cursor: pointer;
}

.guess-card-hover-normal {
  &:hover {
    background-color: rgba(97, 155, 138, 1);

    .image-section img {
      opacity: 0;
    }

    .bottom-section {
      visibility: visible;
    }

    .guessed-overlay {
      visibility: hidden;
    }
  }

}

.guess-card-hover-owner {
  &:hover {
    background-color: transparent;

    .image-section img {
      opacity: 0.7;
    }

    .bottom-section {
      visibility: visible;
    }

    .guessed-overlay {
      visibility: hidden;
    }
  }
}

.image-section {
  height: 100%;
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.guessed-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(102, 159, 137, 0.6) 50%, rgba(159, 193, 129, 0.6) 128%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.bottom-section {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 2;
}

.guess-card-owner {
  position: absolute;
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.icon-button-size-40 {
  width: 40px;
  height: 40px;
}

.bg-danger {
  background-color: #9B6161 !important;

  &:hover {
    background-color: #9e5353 !important;
    border-color: #9e5353 !important;
  }
}
